<link rel="stylesheet" href="../public/lib/editormd/css/editormd.min.css"
    th:href="@{/lib/editormd/css/editormd.min.css}">

<div style="display: block; width: 50%; top: 78px; height: 561px;position: absolute; left: 25%;">
    <div class="markdown-body editormd-preview-container" previewcontainer="true" style="padding: 20px;">
        <pre class="prettyprint linenums prettyprinted"
            style=""><ol class="linenums"><li class="L0"><code><span class="pln">linx</span></code></li><li class="L1"><code><span class="pln">fuck</span></code></li></ol></pre>
        <h1 id="h1-linx"><a name="linx" class="reference-link"></a><span
                class="header-link octicon octicon-link"></span>linx</h1>
    </div>
</div>